html {
	box-sizing: border-box;
	font-family: "roboto";
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	min-width: 100vw;
	min-height: 100vh;
}

nav {
	display: flex;
	width: 100%;
	height: 60px;	
	background: rgb(255, 48, 48);
	align-items: center;
	-webkit-box-shadow: 0px 3px 14px -2px rgba(87,87,87,1);
	-moz-box-shadow: 0px 3px 14px -2px rgba(87,87,87,1);
	box-shadow: 0px 3px 14px -2px rgba(87,87,87,1);
}

.brand-logo {
	text-decoration: none;
	color: white;
	font-weight: 500;
	font-size: 1.3em;
	margin-left: 2em;
}

p {
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.log-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}

button {
	background: rgb(255, 48, 48);
	font-size: 1.1em;
	color: white;
	border: 1px solid rgb(255, 48, 48);
	border-radius: 5px;	
	width: auto;
	height: 2em;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input[type="text"] {
	width: 250px;
	border-style: none;
	border-bottom: 2px solid rgb(180, 180, 180);
	padding: 10px 15px;
	margin-bottom: 20px;
}

input[type="submit"] {
	background: rgb(80, 80, 80);
	font-size: 1.2em;
	color: white;
	margin: 10px;
	border: 1px solid rgb(165, 165, 165);
	border-radius: 5px;	
	width: auto;
	padding: 0 20px;
	height: 2em;
}

#channel-data {
	display: flex;
	flex-direction: column;
}

#channel-data p {
	width: 400px;
	margin: 0;
	align-self: center;
	text-align: justify;
	padding-bottom: 10px;
	padding-top: 20px;
	border-bottom: 1px solid #444444;
}

#channel-data a {
	align-self: center;
	text-decoration: none;
	font-weight: 500;
	padding-top: 10px;
	margin-bottom: 40px;
}

.collection {
	list-style: none;
	padding: 0;
	width: 400px;
	align-self: center;
	justify-self: center;
}

.collection > * {
	padding: 12px;
	margin-left: 0;
	color: #444444;
	border: 1px solid #a5a5a5;	
	border-radius: 3px;
}



